body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(249, 231, 194);
}

html{
    scroll-behavior: smooth;
}

#navbar{
    background-color: black;
    opacity: 0.75;
    /* z-index: -1; */
    width: 100vw;

}
nav{
    display: flex;
}
#navbar ul{
    display: flex;
    list-style: none;
    /* background-color: black;
    opacity: 0.75;
    width: 100vw; */
    /* color: white; */
}
#navbar li{
    padding: 23px;
    justify-content: space-between;
    z-index: 1;
}

#navbar li a{
    padding: 13px;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    /* font-family: 'Tektur', cursive; */
    /* font-family: 'Lugrasimo', cursive; */
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1rem;
}

#navbar li a:hover{
    color: rgb(192, 194, 165);
}

#navbar li:nth-child(6){
    display: inline-block ;
    position: absolute;
    top: 15px;
    right: 35px;
}

.container{
    display: flex;
}
.roadmap-container{
    display: flex;
    justify-content: space-around;
}
.goal{
    border: 2px solid red;
    display: flex;
    height: 100px;
    width: 100px;
    padding: 23px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row{
    margin-top: 5rem;
}

#row-2{
    justify-content: space-evenly; 
}

.row p a{
    text-decoration: none;
}

.top{
    
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-family: 'Lugrasimo', cursive; */
    font-style: italic;
    /* border: 2px solid white; */
}

#head{
    padding: 23px;
    font-family: 'Tektur', cursive;
    font-weight: bolder;
    font-size: 2rem;
}

.contact{
    padding: 20px;
    font-size: 1.2rem;
}
.contact a{
    text-decoration: none;
}

.contact:hover{
    font-weight: bold;
}

#mid-contact{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    width: 500px;
    padding: 23px;
    padding-top: 13px;
}