<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barriers</title>
    <link rel="stylesheet" href="/static/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- <h3>Hi we are {{params['name']}}</h3> -->
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap.html">Roadmap</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/"></a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>


    <form class="barriers">
        <div class="bar-container">
            <h1>In the past, what have been your barriers in maintaining weight ?</h1>
            <p>Please select all that apply.</p>
            <button class="bar-btn" id="bar-btn1">Lack of time</button>
            <button class="bar-btn" id="bar-btn2">The regimen was hard to follow</button>
            <button class="bar-btn" id="bar-btn3">Stress around food choices</button>
            <button class="bar-btn" id="bar-btn4">Food Cravings</button>
            <button class="bar-btn" id="bar-btn5">Lack of progress</button>
            <button class="bar-btn" id="bar-btn6">Healthy food doesn't taste good</button>
            <button class="bar-btn" id="bar-btn7">Healthy food is too expensive</button>
            <button class="bar-btn" id="bar-btn8">Cooking is not my expertise</button>
            <button class="bar-btn" id="bar-btn9">Holidays/Vacation/Social events</button>
            <button class="bar-btn" id="bar-btn10">I did not experience any barriers</button>
        </div>

        <div class="bar-submit">
            <button type ="submit" id="submit-btn"><a href="/roadmap.html">Submit</a></button>
        </div>
    </form>


    <script src="/static/server.js"></script>
</body>

</html>