<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Flexy</title>
    <link rel="stylesheet" href="/flexystyle.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link 
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Poppins:ital,wght@1,800&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap" 
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap.html">Roadmap</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/"></a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <div id="head"> Be Flexy</div>
        <h1 style="margin-bottom: 50px;">We advise you to stick to the following : </h1>
    </div>
    <!-- <div class="container"> -->
        <div class="fit-container">
            <div id="item-1">
                <h1>Strength Training</h1>
                <p>
                    <li>5-10 minutes of dynamic stretches</li>
                    <li class="no-style"><p><img src="/img/pic1.jpg" alt="" class = "top-space" style="height: 200px; width: 330px; border-radius: 10px;"></p></li>
                </p>
                <p>
                    <li>20 - 30 minutes Strength Exercises : Squats, push-ups, bent-over, planks (Each of them should be repeated so that there are 3 sets of 10 - 12 reps  for each exercise)</li>
                    <li class="no-style"><p><img src="/img/pic2.jpg" alt="" class = "top-space" style="height: 200px; width: 330px;border-radius: 10px;"></p></li>
                </p>
                <p>
                    <li>30 - 45 minutes Cardio : Running, Cycling or swimming. This should be 1-2 minutes of high-intensity cardio followed by 10 minutes of low- intensity ones. Do them for 45 minutes in cycles. </li>
                    <li class="no-style"><p><img src="/img/pic3.jpg" alt="" class = "top-space" style="height: 200px; width: 330px;border-radius: 10px;"></p></li>
                </p>
                <p>
                    <li>10-15 minutes Active recovery : Engage in light activities like walking, yoga, stretching to initiate the healing process</li>
                    <li class="no-style"><p><img src="/img/pic4.jpg" alt="" class = "top-space" style="height: 200px; width: 330px;border-radius: 10px;"></p></li>
                </p>
                <p>
                    <li>Rest : You need adequate rest between every set of exercise you perform. This is preferrably 5 - 10 minutes based on your body's needs.</li>
                    <li class="no-style"><p><img src="/img/pic5.jpg" alt="" class = "top-space" style="height: 200px; width: 330px;border-radius: 10px;"></p></li>
                </p>
    
            </div>
            <div id="item-2">
                <h1>Diet Plan</h1>
                <div>
                    <div class="broad">Breakfast (At 7 a.m.)</div>
                    <div>Greetings, fellow breakfast enthusiasts! There's a reason they say breakfast is the most important meal of the day - it's not just about fueling your body but also about starting your day on the right foot. So, let's dive into the wonderful world of breakfast and discover some mouthwatering morning options that will set you up for success.</div>
                    <div class="no-style">
                        <div><img src="/img/pic6.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                        <div class="food">
                            <ul>
                                <li>Oatmeal topped with fruits and nuts</li>
                                <li>Greek Yogurt</li>
                                <li>Scrambled eggs with spinach and whole-grain toast</li>
                                <li>Nut Butter, preferrably almond, peanut or cashew</li>
                                <li>Cottage cheese</li>
                                <li>Whole grain cereal</li>
                                <li>Vegetable omelette</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="broad">Lunch (At 2 p.m.)</div>
                    <div>Ah, lunchtime - that glorious midday intermission we all eagerly anticipate. It's not just a break from the daily grind; it's a chance to refuel and savor a moment of culinary pleasure. Join me on a journey through the enchanting world of lunch, where taste and nourishment collide.</div>
                    <div class="no-style">
                        <div><img src="/img/pic7.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                        <div class="food">
                            <ul>
                                <li>Grilled chicken seasoned with spices and herbs</li>
                                <li>Salmon or other varities of sea foods</li>
                                <li>Quinoa, often served as side dish</li>
                                <li>Leafy green salads topped with nuts and seeds</li>
                                <li>Brown rice</li>
                                <li>Sweet Potatoes</li>
                                <li>Hummus and Veggie platter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="broad">Snack (At 5 p.m.)</div>
                    <div>Let's get snacky! If you're anything like us at DRS-179, after a hearty lunch, there's often a little corner of your stomach still longing for a delightful treat to round out your meal. This is the perfect time to embark on a culinary adventure, exploring snacks that not only satisfy your cravings but also elevate your afternoon. Join us in discovering the world of post-lunch snacking that's both indulgent and health-conscious.</div>
                    <div class="no-style">
                        <div><img src="/img/pic8.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                        <div class="food">
                            <ul>
                                <li>Carrot and celery sticks with hummus</li>
                                <li>Mixed Nuts - almonds, walnuts and cashews</li>
                                <li>Hard boiled eggs - preferrably two</li>
                                <li>Popcorn</li>
                                <li>Whole grain rice cakes with Avocado</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="broad">Dinner (At 8 p.m.)</div>
                    <div>Welcome, food enthusiasts, to the grand finale of your culinary day - dinner! It's that special time when we gather around the table, share stories, and savor the flavors that the day has to offer. Join me on a journey through the art of dinner, where we explore a world of mouthwatering dishes that cater to every palate.</div>
                    <div class="no-style">
                        <div><img src="/img/pic9.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                        <div class="food">
                            <ul>
                                <li>Baked fish with quinoa or steamed brocolli</li>
                                <li>Tofu or tempeh</li>
                                <li>Lentils</li>
                                <li>Vegetable stir-fry</li>
                                <li>Spagetti Squash</li>
                                <li>Steamed or roasted vegetables</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item-3">
                <h1>Stay Hydrated</h1>
                <div>Water is The Elixir of Life. Imagine your body as a well-oiled machine. Just like any other machine, it needs a constant supply of fuel to function optimally. In the case of your body, this "fuel" is water. Water makes up approximately 70% of your body weight and is involved in nearly every bodily function. From regulating body temperature to aiding in digestion, water is the elixir of life. Drink 10 glasses of water throughout the day.</div>
                <div class="no-style">
                    <div><img src="/img/pic10.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                    <div class="food">
                        <ul>
                            <li>Enhances Physical performance</li>
                            <li>Mental Clarity and Focus</li>
                            <li>Radiant Skin</li>
                            <li>Weight management</li>
                            <li>Prevent health issues</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="item-4">
                <h1>Get Adequate Sleep</h1>
                <div>Get 8 hours of sleep daily. Sleep is not a luxury, it is a fundamental pillar of health. The importance of adequate sleep cannot be overstated. It's a holistic remedy for both body and mind, contributing to physical vitality, emotional equilibrium, and cognitive acuity. So, let us all embrace the sanctity of sleep and cultivate the habit of a restful night's slumber, for in those quiet hours, we unlock the boundless potential of our well-being.</div>
                <div class="no-style">
                    <div><img src="/img/pic12.jpg" alt="" class = "top-space" style="height: 220px; width: 330px;border-radius: 10px;"></div>
                    <div class="food">
                        <ul>
                            <li>Physical restoration</li>
                            <li>Cognitive Vitality</li>
                            <li>Emotional Well Being</li>
                            <li>Heart health</li>
                            <li>Enhanced Immunity</li>
                            <li>Improved physical performance</li>
                            <li>Longevity - longer, healthier lives</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Have you followed today's plan ?</h1>
            <div class="plan-btn">
                <button id="yes-btn">Yes</button>
                <button id="no-btn">No, I'll do tomorrow</button>
            </div>
        </div>

    <!-- </div> -->
    <div class="container">
        <div id="analytics">Wishing you luck on your fitness journey</div>
    </div>
    <script src="/choiceserver.js"></script>
</body>
</html>