<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="/">Diet</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Others</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="container top">
        <div id="mid-contact">
            <div id="head">Reach Out</div>
            <div class = "contact">Email us : <a href="mailto: dattaguptadebajyoti@gmail.com">dattaguptadebajyoti@gmail.com</a></div>
            <div class = "contact">Helpline number : 9831173311</div>
            <div class = "contact">Get Expert Help : 6290430732</div>
        </div>
    </div>
</body>
</html>