<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- <h3>Hi we are {{params['name']}}</h3> -->
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap.html">Roadmap</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/"></a></li>
                <li><a href="/contact.html">Contact Us</a></li>
            </ul>
        </nav>
    </div>


    <h1>This is the Dashboard</h1>
    <!-- <div id="analytics">heheheheh</div> -->

    <script src="/server.js"></script>
    <!-- <script src="/choiceserver.js"></script> -->
</body>

</html>