<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>

    <!-- <h3>Hi we are {{params['name']}}</h3> -->
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="/">Diet</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Others</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>


    <div class="dash-container">
        <h1>Hello, user! Glad to have you here.</h1>
        <p>Here you will be able to see all your performance related stats</p>
        <div class="para">
            Your performance analytics : <span id="analytics" onclick="view()" style="display: none;"></span>
        </div>
        <div class="para">
            Your successful working days : <span id="days" onclick="view()" style="display: none;"></span>
        </div>
        <div id="review"></div>
    </div>


    
    <script src="/static/barserver.js"></script>
</body>

</html>