<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRS-179</title>
    <link rel="stylesheet" href="/static/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Bangers&family=DM+Sans:ital@1&family=Lato&family=Lilita+One&family=Lobster&family=Lugrasimo&family=Merienda:wght@600;900&family=Rajdhani:wght@600&family=Tektur:wght@500&display=swap"
        rel="stylesheet">
</head>

<body>

    <h3>Hi we are {{params['name']}}</h3>
    <div class="container">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="/">Diet</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Others</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <form action="/login" method = 'POST'>
        <p>name
            <input type="text" name="name">
        </p>
        
    </form>

    <script src="/static/server.js"></script>
</body>

</html>
